:root {
  --main-color: #e5e2e2;
  --sub-color: #d1b9b9;
  --text-color: #866b6b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color);
}

body {
  background: var(--sub-color);
}

.btnTemas {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: none;
}

#branco {
  background: #c8c0c0;
}

#amareloEscuro {
  background: #6a5d14;
}

#azulTurquesa {
  background: #2f767c;
}

#dark {
  background: #11100ed7;
}

.card input[type='checkbox']:checked + label {
  text-decoration: line-through;
}
