* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #6a5d14;
  --sub-color: #a7a078;
  --text-color: #292825;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color);
}

body {
  background: var(--sub-color);
}

.btnTemas {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  border: none;
}

#branco {
  background: #e5e2e2;
}

#amareloEscuro {
  background: #6a5d14;
}

#azulTurquesa {
  background: #2f767c;
}

#dark {
  background: #11100ed7;
}

.card input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.todo-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.todo-title .completed {
  text-decoration: line-through;
}

.todo-title .uncompleted {
  font-weight: 700;
}
